@import url(//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css);

a, em {
	color: #dd2a67
}

a, ins {
	text-decoration: none
}

::-moz-selection {
	background: #dd2a67;
	color: #ffffff
}

::selection {
	background: #dd2a67;
	color: #ffffff
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
	font-family: Arial, sans-serif;
	color: #252525;
	margin: 0 3vw;
	text-align: center;
	text-transform: uppercase
}

figcaption, li, p, td {
	font-family: arial, sans-serif
}

figure {
	margin: 0 40px
}

section {
	text-align: center;
	margin-bottom: 50px
}

h3 {
	letter-spacing: 2px;
	margin-top: 10px;
	margin-bottom: 10px
}

main h2 {
	margin: 50px auto 50px;
	font-size: 1.25rem;
	letter-spacing: .25em;
	position: relative;
	display: inline-block;
	width: auto;
}

main h2::after {
	content: '';
	bottom: -25px;
	position: absolute;
	display: block;
	height: 1px;
	width: 90%;
	left: 5%;
	background-color: #252525
}

p {
	font-size: 1.1rem;
	line-height: 1.45;
	color: #252525
}

a {
	font-weight: 700;
	letter-spacing: .6px;
}

a:hover {
	color: #bf1f55
}

em {
	font-style: normal
}

.button {
	margin: 20px 0;
	text-align: center;
	width: 160px;
	text-transform: uppercase;
	display: inline-block;
	color: #ffffff;
	padding: 14px 0
}

a.button, button.button, input.button {
	font-weight: 400;
	border: 2px solid #dd2a67;
	color: #dd2a67;
	background-color: transparent;
	position: relative;
	overflow: hidden;
	transition: color .5s
}

body {
	text-align: center;
}

header {
	padding-top: 60px;
}

table {
	margin: 0 auto;
}

table td {
	padding: 15px;
}

form label {
	display: block;
	margin: 5px;
}

input {
	padding: 4px 5px;
}